@media (max-width: 1024px) {
  .hero-title {
    font-size: 38px;
  }

  .az-prioridades-grid,
  .lung-grid,
  .az-future-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .az-transformacao-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .az-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .az-grid::after {
    display: none;
  }

  .az-box-text,
  .az-box-highlight {
    margin-bottom: 30px;
    margin-top: -5px;
  }

  .az-left,
  .az-right {
    padding: 0;
  }

  .az-right {
    border-top: .5px solid #dcdcdc;
    padding-top: 40px;
  }

  .az-desafios-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .az-future-image img {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .hero-background {
    height: auto;
    min-height: 420px;
    padding: 60px 0;
    background-image: url('../assets/bg_mobile.jpg');
  }

  .hero-content {
    padding: 0 20px;
    gap: 20px;
  }

  .hero-title {
    font-size: 32px;
    max-width: 100%;
  }

  .hero-description {
    font-size: 16px;
    max-width: 100%;
    width: auto;
    line-height: 1.4;
  }

  .az-container,
  .areas-container,
  .az-references-container,
  .lung-containers {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lung-container {
    padding: 20px;
  }

  .az-references-container {
    padding: 60px 20px;
  }

  .az-future-container,
  .az-references {
    padding: 0;
  }

  .az-future-content,
  .lung-content {
    text-align: left;
  }

  .az-oncologia,
  .az-prioridades,
  .az-desafios,
  .az-transformacao,
  .az-areas,
  .az-lung {
    padding: 40px 0;
  }

  .az-title,
  .az-prioridades-title,
  .az-desafios-title,
  .az-transformacao-title,
  .areas-title,
  .lung-content h2,
  .az-future-content h2,
  .az-box-text h3 {
    font-size: 24px;
  }

  .lung-content h2 {
    display: none;
  }

  .title-lung-content {
    display: flex;
    font-size: 22px;
    text-align: left;
    margin-bottom: 0px;
  }

  .lung-btn,
  .az-future-btn {
    font-size: 18px;
  }

  .lung-btn img,
  .az-future-btn img {
    width: 17px;
    height: 17px;
  }

  .az-prioridades-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .az-prioridades-image {
    max-width: 250px;
    margin: 0;
  }

  .az-desafios-grid {
    grid-template-columns: 1fr;
  }

  .az-card {
    display: flex;
    gap: 10px;
    background-color: transparent;
    padding: 30px 0;
    border-bottom: 1px solid #dcdcdc;
  }

  .az-card:last-child {
    border-bottom: none;
  }

  .az-card p {
    font-size: 14px;
  }

  .az-card img {
    width: 75px;
    height: 75px;
  }

  .az-transformacao-grid {
    display: flex;
    flex-direction: column;
  }

  .az-box {
    min-height: auto;
  }

  .az-box:nth-child(2) {
    order: 1;
  }

  .az-box:nth-child(1) {
    order: 2;
  }

  .az-box:nth-child(3) {
    order: 3;
  }

  .az-box:nth-child(4) {
    order: 4;
  }

  .az-box:nth-child(6) {
    order: 5;
  }

  .az-box:nth-child(5) {
    order: 6;
  }

  .az-box-text,
  .az-box-highlight {
    padding: 40px 20px;
  }

  .areas-card {
    min-width: calc(100vw - 40px);
    max-width: calc(100vw - 40px);
  }

  .areas-track {
    gap: 20px;
  }

  .lung-grid,
  .az-future-grid {
    gap: 30px;
    text-align: center;
  }

  .lung-btn,
  .az-future-btn {
    padding: 20px 0;
    justify-content: center;
    width: 100%;
  }

  .az-future-grid {
    padding: 70px 20px;
  }

  .az-future-content p {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 28px;
  }

  .az-title,
  .az-prioridades-title,
  .az-desafios-title,
  .az-transformacao-title,
  .areas-title,
  .lung-content h2,
  .az-future-content h2 {
    font-size: 22px;
  }

  .az-box-highlight h3 {
    font-size: 20px;
  }

  .areas-card {
    min-width: calc(100vw - 40px);
  }
}