* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

:root {
  --font-base: 'Arial', sans-serif;
  --color-bg-primary: #ffffff;
  --color-bg: #D9D9D9;
  --color-text: #333333;
  --color-primary: #0055ff;
  --color-accent: #ff6600;
}

/* HERO */
.hero {
  width: 100%;
}

.hero-background {
  width: 100%;
  height: 350px;
  position: relative;

  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-position: 85% center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}


.hero-background::before {
  content: '';
  position: absolute;
  inset: 0;
}

.hero-content {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: 'LexiaRegular', sans-serif;

  color: #ffffff;
}

.hero-title {
  max-width: 680px;
  font-family: 'LexiaRegular', sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.hero-description {
  max-width: 450px;
  font-size: 16px;
  line-height: 1;
  font-family: 'Inter', sans-serif;
  opacity: 0.9;
  font-weight: 200;
}


/* ONCOLOGIA */
.az-oncologia {
  padding: 80px 0;
  font-family: 'Inter', sans-serif;
}

.az-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.az-grid {
  display: grid;
  grid-template-columns: .8fr .8fr;
  gap: 60px;
  align-items: start;
  position: relative; 
}

.az-grid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: .5px;
  background: #dcdcdc;
  transform: translateX(-50%);
}

.az-left {
  padding-right: 40px;
}

.az-right {
  padding-left: 40px;
}

.az-title {
  font-size: 28px;
  font-weight: 700;
  font-family: 'LexiaBold', sans-serif;
  color: #7E2755;
  margin-bottom: 16px;
}

.az-text {
  font-size: 15px;
  line-height: 1.6;
  color: #1F1F1E;
  margin-bottom: 14px;
}

.az-video {
  max-width: 420px;
}

.az-video img {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  transition: transform .35s ease, opacity .35s ease;
}

.az-video img:hover {
  transform: scale(1.04);
  opacity: .9;
}

.az-video a{
  display:block;
}

/* PRIORIDADES */
.az-prioridades {
  width: 100%;            
  background: #EBEBEB;  
  padding: 50px 0;
  font-family: 'Inter', sans-serif;
}

.az-container {
  max-width: 1440px;  
  margin: 0 auto;
  padding: 0 40px;
}

.az-prioridades-grid {
  display: grid;
  grid-template-columns: 320px 700px;
  gap: 80px;
  align-items: center;
}

.az-prioridades-image img {
  width: 100%;
}

.az-prioridades-title {
  font-size: 28px;
  color: #7E2755;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  font-family: 'LexiaBold', sans-serif;

}

.az-prioridade-item {
  border-left: 5px solid #7E2755;
  padding-left: 18px;
  margin-bottom: 26px;
}

.az-prioridade-item p {
  font-size: 15px;
  line-height: 1.6;
  color: #1F1F1E;
}

.az-prioridade-item ul {
  margin-top: 6px;
  padding-left: 18px;
}

.az-prioridade-item li {
  font-size: 15px;
  line-height: 1.6;
}

/* DESAFIOS */
.az-desafios {
  width: 100%;
  padding: 40px 0;
  font-family: 'Inter', sans-serif;
}

.az-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.az-desafios-title {
  font-size: 28px;
  color: #7E2755;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'LexiaBold', sans-serif;

}

.az-desafios-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.az-card {
  background: #F7F7F7;
  padding: 40px 28px;
}

.az-card img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.az-card p {
  font-size: 12px;
  line-height: 1.4;
  color: #1f1f1ea9;
}

.az-card p sup {
  font-size: 7px;
}

/* TRANSFORMACAO */
.az-transformacao {
  width: 100%;
  padding: 40px 0;
  font-family: 'Inter', sans-serif;
}

.az-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.az-transformacao-title {
  font-size: 28px;
  color: #7E2755;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: 'LexiaBold', sans-serif;
  
}

.az-transformacao-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.az-box {
  min-height: 260px;
}

.az-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.az-box-text {
  background: #F9F9FF;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.az-box-text h3 {
  color: #7E2755;
  font-size: 28px;
  margin-bottom: 20px;
  font-family: 'LexiaBold', sans-serif;

}

.az-box-text p {
  font-size: 15px;
  line-height: 1.6;
}

.az-box-highlight {
  background: #E6AE3B;
  padding: 60px;

  display: flex;
  align-items: center; 
}

.az-box-highlight h3 {
  color: #7E2755;
  font-family: 'LexiaBold', sans-serif;
  font-size: 28px;
  line-height: 1.3;
}

/* AREAS */
.az-areas {
  background: #EBEBEB;
  padding: 50px 0;
  font-family: 'LexiaRegular', sans-serif;
  width: 100%;
}

.areas-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 40px;
  overflow: hidden;
}

.areas-title {
  color: #8F1A62;
  font-size: 28px;
  margin-bottom: 30px;
  font-family: "lexia", serif;
  font-weight: 600;
}

.areas-subtitle {
  font-size: 16px;
  color: #1F1F1E;
  margin-bottom: 40px;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
}

.areas-slider {
  overflow: hidden;
}

.areas-track {
  display: flex;
  gap: 50px;
  transition: transform 0.5s ease;
  will-change: transform;
}

.areas-card {
  min-width: 360px;
}

.areas-card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  margin-bottom: 20px;
}

.areas-card h3 {
  color: #7E2755;
  font-size: 22px;
  margin-bottom: 12px;
  font-family: "lexia", serif;
  font-weight: 600;
}

.areas-card p {
  font-size: 15px;
  color: #1f1f1e8e;
  line-height: 1.6;
  margin-bottom: 12px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.areas-nav {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.areas-arrow {
  width: 36px;
  height: 36px;
  background: #ddd;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.areas-arrow:hover {
  background: #BF286E;
  transform: translateY(-2px);
}

/* LUNG */
.az-lung{
  width:100%;
  padding: 50px 0;
  font-family:'Inter',sans-serif;
}

.lung-container{
  max-width:1440px;
  margin:0 auto;
  padding:0 40px;
}

.lung-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:80px;
  align-items:center;
}

.lung-image img{
  width:100%;
  display:block;
}

.lung-content h2{
  color:#7E2755;
  font-size: 28px;
  margin-bottom:20px;
  font-family:"lexia",serif;
  font-weight:600;
}

.title-lung-content{
  color:#7E2755;
  font-size: 28px;
  margin-bottom:20px;
  font-family:"lexia",serif;
  font-weight:600;
  display: none;
}

.lung-content p{
  font-size:15px;
  line-height:1.6;
  color:#1F1F1E;
  margin-bottom:18px;
}

.lung-btn{
  display:inline-flex;
  align-items:center;
  gap:8px;
  background:#BF286E;
  color:#fff;
  text-decoration:none;
  padding:12px 22px;
  border-radius:4px;
  font-size:14px;
  margin-top:10px;
}

.lung-btn span{
  font-size:14px;
}

.lung-btn:hover{
  opacity:.9;
}

.lung-btn img{
  width:14px;
  height:14px;
  object-fit:contain;
}

/* FUTURE */
.az-future{
  width:100%;
  padding: 0px 0;
  font-family:'Inter',sans-serif;
}

.az-future-container{
  max-width:1440px;
  margin:0 auto;
  padding:0 40px;
}

.az-future-grid{
  background:#8F004B;
  padding:60px;
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items:center;
  gap:40px;
}

.az-future-content h2{
  color:#fff;
  font-size:28px;
  font-family:"lexia",serif;
  margin-bottom:20px;
}

.az-future-content p{
  color:#ffff;
  font-size:15px;
  line-height:1.6;
  margin-bottom:25px;
  max-width:420px;
}

.az-future-btn{
  display:inline-flex;
  align-items:center;
  gap:8px;
  background:#C23A74;
  color:#fff;
  text-decoration:none;
  padding:12px 22px;
  border-radius:4px;
  font-size:14px;
}

.az-future-btn img{
  width:14px;
  height:14px;
  object-fit:contain;
}

.az-future-image img{
  width:100%;
  max-width:480px;
  display:block;
  margin-left:auto;
}

/* REFERENCES */
.az-references{
  width:100%;
  padding:60px 0;
  font-family:'Inter',sans-serif;
}

.az-references-container{
  max-width:1440px;
  margin:0 auto;
  padding:0 40px;
}

.az-references h3{
  font-size:16px;
  color:#1F1F1E;
  margin-bottom:10px;
  font-weight:600;
}

.az-references ol{
  padding-left:18px;
}

.az-references li{
  font-size:13px;
  color:#1F1F1E;
  line-height:1.6;
  margin-bottom:8px;
}